singularity.enabled = true
singularity.autoMounts = true
nextflowVersion = '>=21.04.1'

executor {
	queueSize=1000
}

process {
	containerOptions = '-B /lab,/localscratch'
	executor = 'slurm'
	errorStrategy = 'finish'
	time = '7h'
	memory = '8 GB'
	cpus = 1
	stageInMode = "rellink"
}
	
params {
	email = ""
	results = "results"
	basedir = "/lab/work/arushiv/muscle-sn/"
	container_qtl = "${params.basedir}/data/containers/qtl/qtl.sif"
}
