singularity.enabled = true
singularity.autoMounts = true
nextflowVersion = '>=21.04.1'

executor {
	queueSize=1000
}

params.system = "wolverine"

process {
	containerOptions = {params.system == "wolverine" ? '-B /lab,/localscratch' : '-B /gpfs,/scratch'}
	executor = 'slurm'
	errorStrategy = 'finish'
	clusterOptions = {params.system == "wolverine" ? "" : ' --account=scjp99 ' }
	time = '7h'
	memory = '8 GB'
	cpus = 1
	stageInMode = "rellink"
}

//
// set paths for generic files here
//
params {
	email = ""
	results = "results"
	basedir = params.system == "wolverine" ? "/lab/work/arushiv/muscle-sn/" : "/gpfs/accounts/scjp_root/scjp99/arushiv/muscle-sn/"
	container_coloc = "${params.basedir}/data/containers/coloc_v5_new/coloc.sif"
}