singularity.enabled = true
singularity.autoMounts = true
nextflowVersion = '>=21.04.1'

executor {
	queueSize=1000
}

params.system = "wolverine"

process {
	containerOptions = '-B /lab,/localscratch'
	executor = 'slurm'
	errorStrategy = 'finish'
	time = '7h'
	memory = '8 GB'
	cpus = 1

	// if on wolverine, run starsolo on and qc localscratch.
	withName: starsolo {
	scratch = "/localscratch"
	stageInMode = 'copy'
	maxForks = 4
	}

	withName: qc {
	scratch = "/localscratch"
	stageInMode = 'copy'
	}
}

//
// set paths for generic files and params here
//
params {
	email = ""
	results = "results"
	basedir = "/lab/work/arushiv/muscle-sn/"
	barcode_whitelist = "${params.basedir}/data/barcode-whitelist/3M-february-2018.txt"
	star_index = ["hg38": "${params.basedir}/data/star/hg38"]
	chemistry = 'V3'
	container_general = "${params.basedir}/data/containers/general/general.simg"
	container_snrna = "${params.basedir}/data/containers/snRNA/snRNA.simg"
	gene_gtf = "${params.basedir}/data/annots/hg38/gencode.v30.GRCh38.ERCC.genes.collapsed_only.gtf"	
}
