//
// There should be no need to change this
//

singularity.enabled = true
singularity.autoMounts = true
nextflowVersion = '>=21.04.1'

executor {
	queueSize=1000
}

process {
	containerOptions = {params.system == "wolverine" ? '-B /lab,/localscratch' : '-B /gpfs,/scratch'}
	executor = 'slurm'
	errorStrategy = 'finish'
	clusterOptions = {params.system == "wolverine" ? "" : ' --account=scjp1 ' }
	time = '7h'
	memory = '8 GB'
	cpus = 1

	 // if on wolverine, run starsolo on and qc localscratch.
	 withName: make_barcode_corrections {
	 scratch = "/localscratch"
	 stageInMode = 'copy'
	 }

	 withName: map_bwa {
	 scratch = "/localscratch"
	 stageInMode = 'copy'
	 }
}

//
// set paths for generic files and params here
//
params {
	system = "wolverine"
	email = "arushiv@umich.edu"
	results = "results"
	basedir = params.system == "wolverine" ? "/lab/work/arushiv/muscle-sn/" : "/gpfs/accounts/scjp_root/scjp99/arushiv/muscle-sn/"
	container_general = "${params.basedir}/data/containers/general/general.simg"
	container_snatac = "${params.basedir}/data/containers/snATAC/snATAC.simg"
	//
	// Filter out nuclei with low read counts before running ataqv (to reduce memory usage). Low read count threshold is set here.
	//
	low_read_count_threshold = '2000'
	min_read_pairs = '1000'

	//
	// Below are the key file names you'll need to change
	//
	blacklist = [
		"hg38": ["${basedir}/data/mappability/hg38.ENCFF356LFX.bed.gz"],
        "hg19": [
            "${basedir}/data/mappability/wgEncodeDacMapabilityConsensusExcludable.bed.gz",
            "${basedir}/data/mappability/wgEncodeDukeMapabilityRegionsExcludable.bed.gz"
        ],
        "mm9": ["${basedir}/data/mappability/mm9-blacklist.bed.gz"],
        "rn6": ["${basedir}/data/mappability/rn6.blacklist.1.bed.gz"]
        ]
	chrom_sizes = [
		"hg38": "${basedir}/data/chrom_sizes/hg38.chrom_sizes",
        "hg19": "${basedir}/data/chrom_sizes/hg19.chrom_sizes"
        ]
	bwa_index = [
		"hg38": "${basedir}/data/bwa/hg38/hg38.fa",
        "hg19": "${basedir}/data/bwa/hg19/hg19"
        ]
	tss = [
		"hg38": "${basedir}/data/tss/hg38.tss.refseq.bed.gz",
        "hg19": "${basedir}/data/tss/hg19.tss.refseq.bed.gz",
        "rn6": "${basedir}/data/tss/rn6.tss.refseq.bed.gz"
        ]
	gene_bed = [
		"hg38": "${basedir}/data/liger-features/hg38-features.bed",
        "hg19": "${basedir}/data/liger-features/hg19-features.bed",
        "rn6": "${basedir}/data/liger-features/rn6-features.bed"
        ]
	barcode_whitelist = "${basedir}/data/barcode-whitelist/737K-cratac-v1.txt"
}